.radio-warp{
    color: #606266;
    font-weight: 500;
    line-height: 1;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    font-size: 14px;
    margin-right: 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.radio-box{
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
}
.radio-inner{
    border: 1px solid #dcdfe6;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
}
.radio-inner::after{
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .15s ease-in;
}
.radio-original{
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}
.radio-label{
    font-size: 14px;
    padding-left:5px;
    display: inline-block;
    vertical-align: middle;
}

.radio-checked .radio-inner{
    border-color: #409eff;
    background: #409eff;
}
.radio-checked .radio-inner::after{
    transform: translate(-50%,-50%) scale(1);
}
.radio-checked .radio-label{
    color: #409eff;
}
.radio-border .radio-warp{
    padding: 10px 20px 0 10px;
    border-radius: 4px;
    height: 36px;
    border: 1px solid #ddd;
}

.radio-disabled .radio-inner{
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    cursor: not-allowed;
}
.radio-disabled .radio-label {
    color: #c0c4cc;
    cursor: not-allowed;
}
.radio-disabled .radio-inner{
    background-color: #f5f7fa;
    border-color: #e4e7ed;
}
.radio-disabled .radio-inner::after{
    background-color: #c0c4cc;
}
/*处理点击事件*/
input[type="radio"]:checked ~ .radio-inner{
    border-color: #409eff;
    background: #409eff;
} 
.radio-disabled input[type="radio"]:checked ~ .radio-inner{
    background-color: #f5f7fa;
    border-color: #e4e7ed;
}
.radio-disabled input[type="radio"]:checked ~ .radio-inner::after{
    background-color: #c0c4cc;
}
input[type="radio"]:checked ~ .radio-inner::after{
    transform: translate(-50%,-50%) scale(1);
}



