/*按钮*/
@import "../button/button.css";

/*radio*/
@import "../radio/radio.css";

/*text*/
@import "../Text/text.css";

/*checkbox*/
@import "../checkbox/checkbox.css";

/*switch*/
@import "../switch/switch.css";

/* progress */
@import "../progress/progress.css";

/* steps */
@import "../steps/steps.css";

/* rate */
@import '../rate/rate.css';

/* fontawesome  */
@import '../font-awesome-4.7.0/css/font-awesome.min.css';


/*rest*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
